<div role="document">
  <div>
    <form class="form-horizontal" id="add-form"  #myForm="ngForm" [formGroup]="editQualificatifForm" (ngSubmit)="onEditQualificatifFormSubmit()">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modifier un couple de qualificatif</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">Minimal<span class="required" aria-required="true"> * </span></label>
          <div class="col-sm-12">
            <input type="text" class="form-control" formControlName="minimal" (keydown.space)="$event.preventDefault();" maxlength="16"  required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Maximal<span class="required" aria-required="true"> * </span></label>
          <div class="col-sm-12">
            <input type="text" class="form-control" formControlName="maximal" (keydown.space)="$event.preventDefault();" maxlength="16"  required/>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="close pull-right" aria-label="Close" > -->
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClose()">Annuler</button>
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Valider</button>
      </div>
    </form>
  </div>
</div>
