<div class="services-section">
    <div class="inner-width">
      <h1 class="services-section-title">Bienvenue a UBO-Gestion des évaluations</h1>
      <div class="border"></div>
      <div class="services-container">

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-paint-brush"></i>
          </div>
          <div class="service-title">Qualificatif</div>
          <div class="service-desc">

          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-code"></i>
          </div>
          <div class="service-title">Rubriques standards</div>
          <div class="service-desc">

          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-question"></i>
          </div>
          <div class="service-title">Question</div>
          <div class="service-desc">


          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-clone"></i>
          </div>
          <div class="service-title">Rubriques composes</div>
          <div class="service-desc">


          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-university"></i>
          </div>
          <div class="service-title">
            Formations</div>
          <div class="service-desc">


          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-school"></i>
          </div>
          <div class="service-title">Enseignant</div>
          <div class="service-desc">

          </div>
        </div>
      </div>
    </div>
  </div>
