<div class="services-section">
    <div class="inner-width">
      <h1 class="services-section-title">BIENVENUE À UBO-GESTION DES ÉVALUATIONS</h1>
      <div class="border"></div>
      <div class="services-container">

        <div class="service-box">
          <div class="service-icon">
            <a href= "http://localhost:4200/qualificatifs"><i class="fa fa-certificate"></i></a>
          </div>
          <div class="service-title">

            Qualificatifs

          </div>
          <div class="service-desc">

          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <a href=  "http://localhost:4200/rubrique"><i class="fas fa-book"></i></a>
          </div>
          <div class="service-title">
             Rubriques
          </div>
          <div class="service-desc">

          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <a href= "http://localhost:4200/questions"><i class="fas fa-question"></i></a>
          </div>
          <div class="service-title">
            Questions
          </div>
          <div class="service-desc">


          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <a href=  "http://localhost:4200"> <i class="fas fa-user-graduate"></i></a>
          </div>
          <div class="service-title">
            Étudiants
          </div>
          <div class="service-desc">


          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <a href="http://localhost:4200/formations"><i class="fas fa-graduation-cap"></i></a>
          </div>
          <div class="service-title" >

            Formations
          </div>
          <div class="service-desc">


          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <a href=  "http://localhost:4200"><i class="fas fa-user-tie"></i></a>
          </div>
          <div class="service-title">
             Enseignants
          </div>
          <div class="service-desc">

          </div>
        </div>
      </div>
    </div>
  </div>
