<div class="section-component container">
  <div class="section-title">
 
    
    <button type="button" class="btn btn-primary float-right" (click)="addNewQualificatif()"><i class="fa fa-plus"></i>Ajouter</button>

  </div>
  <div class="section-table">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Maximal</th>
          <th>Minimal</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qualificatif of qualificatifs">
          <td width="35%">{{ qualificatif.maximal }}</td>
          <td width="35%">{{ qualificatif.minimal }}</td>
          <td width="30%">
            <button type="button" class="btn btn-warning btn-sm" (click)="editQualificatif(qualificatif)"><i class="fa fa-pencil"></i>Modifier</button>
            <button type="button" class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i>Supprimer</button>
          </td>
        </tr>
        <td ></td>
      </tbody>
    </table>
  </div>       

</div>


