<div class="section">
  <div class="container">
    <h1>Gestion des questions standards </h1>
  </div>
</div>



<div class="section-component container">
  <div class="section-title">
 
    
    <button type="button" class="btn btn-primary float-right" (click)="addNewQuestion()"><i class="fa fa-plus"></i></button>

  </div>
  <div class="section-table">
    <!-- <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Intitulé</th>
          <th>Minimal</th>
          <th>Maximal</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions">
          <td>{{ question.intitule }}</td>
          <td>{{ question.qualificatif.minimal }}</td>
          <td>{{ question.qualificatif.maximal }}</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm" (click)="editQuestion(question)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteQuestion(question)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table> -->

    <mat-form-field>
      <mat-label>Filtre</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher un couple de qualificatif">
    </mat-form-field>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- Intitulé Column -->
        <ng-container matColumnDef="intitule">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Intitulé </th>
          <td mat-cell *matCellDef="let row"> {{row.intitule}} </td>
        </ng-container>
  
        <!-- Minimal Column -->
        <ng-container matColumnDef="minimal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Minimal </th>
          <td mat-cell *matCellDef="let row"> {{row.qualificatif.minimal}} </td>
        </ng-container>

        <!-- Maximal Column -->
        <ng-container matColumnDef="maximal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Maximal </th>
          <td mat-cell *matCellDef="let row"> {{row.qualificatif.maximal}} </td>
        </ng-container>
  
        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button type="button" class="btn btn-warning btn-sm" (click)="editQuestion(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteQuestion(row)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          
            <!-- <button type="button" class="btn btn-warning btn-sm" (click)="showModifierRubrique(row.idRubrique)"><i class="fas fa-edit"></i> Modifier</button>
            <button type="button" class="btn btn-danger btn-sm" (click)=" ShowSurpprimerRubrique(row.idRubrique)"><i class="fa fa-trash"></i> Supprimer</button> -->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>



  </div>       

</div>

<div class="modal" tabindex="-1" role="dialog"  [ngClass]="{'show':showModalMessage}" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title pull-left">Notification</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModalMessage=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>{{ message }} </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showModalMessage=false;message=''" >OK</button>
      </div>
    </div>
  </div>
</div>
