<div class="section-component container">
    <div class="section-title">
   
      
      <button type="button" class="btn btn-primary float-right" (click)="showModalCreate=true"><i class="fa fa-plus"></i>Ajouter</button>
  
    </div>
    <div class="section-table">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Désignation rubrique</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rubrique of rubriques">
            <td width="70%">{{ rubrique.designation }}</td>
            <td width="30%">
              <button type="button" class="btn btn-warning btn-sm"  (click)="showModifierRubrique(rubrique.idRubrique)"  ><i class="fa fa-pencil"></i>Modifier</button>
              <button type="button" class="btn btn-danger btn-sm" (click)=" ShowSurpprimerRubrique(rubrique.idRubrique)" ><i class="fa fa-trash"></i>Supprimer</button>
            </td>
          </tr>
          <td ></td>
        </tbody>
      </table>
    </div>       
  
  </div>

  <div class="modal" tabindex="-1" role="dialog"  [ngClass]="{'show':showModalCreate}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter une rubrique standard </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModalCreate=false" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Designation<span class="required" aria-required="true"> * </span></label>
            <div class="col-sm-10">
              <input type="text" name="designation" class="form-control"  [(ngModel)]="rubriqueCreate.designation"  required/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Ordre<span class="required" aria-required="true" > * </span></label>
            <div class="col-sm-10">
              <input type="number" name="ordre" class="form-control" [(ngModel)]="rubriqueCreate.ordre"  required/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger float-left" data-dismiss="modal" (click)="showModalCreate=false" >Annuler</button>
          <button type="submit" class="btn btn-primary" (click)="ajouterRubrique()"  [disabled]="!rubriqueCreate.designation || !rubriqueCreate.ordre" >Ajouter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog"  [ngClass]="{'show':showModalEdit}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modifier une rubrique standard </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="showModalEdit=false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Designation<span class="required" aria-required="true"> * </span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="rubriqueEdit.designation"   required/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Ordre<span class="required" aria-required="true"> * </span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control"  [(ngModel)]="rubriqueEdit.ordre" required/>
            </div>
          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger float-left" data-dismiss="modal" (click)="showModalEdit=false" >Annuler</button>
          <button type="submit" class="btn btn-primary" [disabled]="!rubriqueEdit.designation || !rubriqueEdit.ordre" (click)="ModifierRubrique()" >Modifier</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog"  [ngClass]="{'show':showModalMessage}" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModalMessage=false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ message }} </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showModalMessage=false;message=''" >OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog"  [ngClass]="{'show':showModalConfirmation}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Supprimer une rubrique standard</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModalConfirmation=false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ message }} </p>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-danger float-left" data-dismiss="modal" (click)="showModalConfirmation=false" >Annuler</button>
          <button type="submit" class="btn btn-primary"  (click)="SupprimerRubrique()" >Supprimer</button>
        </div>
      </div>
    </div>
  </div>